<configuration>
<property>
   <name>fs.swift2d.test.uri</name>
   <value>swift2d://drivertest.lvm</value>
</property>

<property>
   <name>fs.swift2d.impl</name>
   <value>com.ibm.stocator.fs.ObjectStoreFileSystem</value>
</property>

<property>
    <name>fs.swift2d.service.lvm.auth.url</name>
    <value>http://IP:PORT/v2.0/tokens</value>
</property>
<property>
    <name>fs.swift2d.service.lvm.public</name>
    <value>true</value>
</property>
<property>
    <name>fs.swift2d.service.lvm.tenant</name>
    <value>TENANT</value>
</property>
<property>
    <name>fs.swift2d.service.lvm.password</name>
    <value>PASSWORD</value>
</property>
<property>
    <name>fs.swift2d.service.lvm.username</name>
    <value>USERNAME</value>
</property>
<property>
    <name>fs.swift2d.service.lvm.auth.method</name>
    <value>keystone</value>
</property>


<property>
    <name>fs.swift2d.service.dal05.auth.url</name>
    <value>https://dal05.objectstorage.softlayer.net/auth/v1.0/</value>
</property>
<property>
    <name>fs.swift2d.service.dal05.public</name>
    <value>true</value>
</property>
<property>
    <name>fs.swift2d.service.dal05.tenant</name>
    <value>TENANT</value>
</property>
<property>
    <name>fs.swift2d.service.dal05.password</name>
    <value>PASSWORD</value>
</property>
<property>
    <name>fs.swift2d.service.dal05.username</name>
    <value>USERNAME</value>
</property>
<property>
    <name>fs.swift2d.service.dal05.auth.method</name>
    <value>swiftauth</value>
</property>

</configuration>


